body {
  background-color: #282c34;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  background-color: #e4e4e0;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
}

.logo--small {
  width: 20px;
}

.site-title,
.site-contribution {
  font-size: 0.85rem;
  margin-left: 1rem;
}

.site-contribution {
  margin-left: 0.5rem;
}

.d-flex {
  display: flex;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 700px;
  margin: auto;
  padding: 3rem 1rem;
}

.App-link {
  color: #61dafb;
}

.search {
  position: sticky;
  top: 20px;
  width: 100%;
}

.search-input {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  width: 100%;
  margin: 1rem 0;
}

.search-button {
  height: 100%;
  padding: 0.2rem 1.5rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-result {
  text-align: left;
}
